@charset "UTF-8";
/* 回答はここから */
.white_box {
    display: inline-block;
    background-color: #fff;
    font-size: 16px;
    width: 200px;
    padding: 20px 0;
  }

  .text-align_box {
    text-align: center;
  }
  
  .text_word {
    display: inline-block;
    background: #a4b3e9;
    padding: 10px;
  }
  
  .margin_text {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    width: 90px;
    background: #a4b3e9;
  }
  
  .table {
    display: table;
  }
  
  .table_cell {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
  
  .table_text {
    display: inline-block;
    padding: 10px;
    background-color: #fff;
  }
  
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex_text {
    padding: 10px;
    background-color: #fff;
  }

  .relative {
    position: relative;
  }

  .absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    background: #a4b3e9;
    transform: translate(-50%, -50%);
  }


